.loader__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* height: 80vh; */
    height:57vh;
    background-color: var(--black);
    z-index: 1000;
}