.coinInfo__heading{
    margin-left: 1rem;
}

.content__container  a {
  color: var(--white) !important;
  text-decoration: underline !important;
}

.content__container a:hover {
  text-decoration: underline !important;
  color:var(--blue) !important;
}

.content__container{
  padding:1rem !important;
}

/* .coin__list{
    margin:1.5rem 3rem;
    border-radius:1rem;
    background-color:var(--darkgrey);
    padding:.01rem 0;
} */