@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  /* --black:rgb(21, 20, 20);
  --white:rgb(234, 226, 226);
  --grey:#888;
  --darkgrey:#1b1b1b; */
  --blue:#3a80e9;
  --green:#61c96f;
  --red:#f94141;
}

[data-theme="dark"] {
  --black:rgb(21, 20, 20);
  --white:rgb(234, 226, 226);
  --blue:#3a80e9;
  --grey:#888;
  --darkgrey:#1b1b1b;
}

[data-theme="light"] {
  --white: rgb(21, 20, 20);
  --black:#f3f3f3;
  --grey: #888;
  /* --darkgrey:rgb(234, 226, 226);  */
  --darkgrey:#e6e4e4;
  
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* This CSS property applies smooth scrolling behavior to all scrollable elements within the <html> element, including the <body> */
html {
    scroll-behavior: smooth;
}

body {
  font-family: "Inter",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color:var(--white);
}

::selection{
  background-color: var(--blue);
  color:var(--white)
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

a{
  text-decoration: none;
  /* color:var(--white); */
}

/* coin page styles */

.coin__listWrapper{
  padding:.5rem !important;
  background-color:var(--darkgrey);
  border-radius: 1rem;
  margin:1.5rem auto;
  width:90%;
}

.coin__list{
  padding:1rem !important;
}

.coinPage__loader{
  width:auto !important;
  overflow: hidden !important;
  height: 58vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineChart__wrapper{
    padding:2rem !important;
}

/* compare page */
.comparePage__select{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:3rem;
  margin-bottom: 2rem;
}

.watchlist__page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:58vh;
}

@media screen and (max-width:800px){
  .comparePage__select{
    justify-content: space-evenly;
    gap:0rem !important;
    font-size: .9rem !important;
  }
  .Toastify__toast-container--top-right {
    top: var(--toastify-toast-top);
    left: var(--toastify-toast-left);
  }
}